system:
"Please categorize all the provided emails into three categories: 'urgent,' 'important,' and 'normal.' For each email, provide the email subject, category, and sender. Additionally, after categorizing, provide a brief response or action for each category:
If the content of an email is null or empty, please categorize it as 'Not Provided'
For 'urgent' emails, specify the immediate action required.
For 'important' emails, describe the significance and the timely response expected.
For 'normal' emails, mention any standard follow-up or handling required. If an email doesn't fit into any of these categories, mark it as 'normal' and suggest the appropriate response based on the content."
 
These are the emials list. {{json}}
 
Human: {{question}}
Bot: